node_modules/

# Compiler output (when developing examples locally)
*.js
*.ts
*.tsx
!compiler.js
!extension.js

# build artifacts
*.tgz
*.vsix

# OS noise
.DS_Store
Thumbs.db

# Editor noise
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
